.App {
    text-align: center;
    width: 100%;
    max-width: 370px;
    margin: 0 auto;
	color: #454545;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


	.enter-details {
    background-color: #c5cab4;
    display: block;
}

.enter-details div{
	
}
.enter-details div input {
    border: 1px solid #deecde;
	    cursor: pointer;
}
.enter-details div:nth-child(1) input {
    width: 49%;
    height: 30px;
	    background: #c5cab4;
}
.enter-details div:nth-child(1) input:hover {
	background: #e3e6d9;
}
.enter-details div:nth-child(2) input {
    width: 50%;
    height: 40px;
}
.enter-details div:nth-child(2) input:nth-child(1) {
    background-color: #99b433;
}
.enter-details div:nth-child(2) input:nth-child(1):hover {
    background-color: #b7d83c;
}
.enter-details div:nth-child(2) input:nth-child(2) {
    background-color: #e3a21a;
}
.enter-details div:nth-child(2) input:nth-child(2):hover {
    background-color: #f7b62f;
}
.display-debit ,.display-credit{
    width: 49%;
    display: block;
	padding:10px 0 10px 0;
}
.display-debit {
    float: left;
}
.display-credit {
    float: right;
}
.calculate-block{
	width : 100%;
	display: table;
	    border-top: 1px solid #fff;
}
.App h3{
	font-size : 1em;
	    margin: 0 auto;
    padding: 10px 0 10px 0;
}
.App table{
	display : table;
	margin : 0 auto;
}
.App table tr td{
	text-align : left;
}
.display-details{
	background-color: #c5cab4;
    display: block;

}